KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="{{ kafka_server_username }}"
    password="{{ kafka_server_password }}"
    user_{{ kafka_server_username }}="{{ kafka_server_password }}";
};

KafkaClient {
    org.apache.kafka.common.security.plain.PlainLoginModule required
{% for client in kafka_client_users %}
    user_{{ client.username }}="{{ client.password }}"
{% endfor %};
};

ZooKeeperClient {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       username="{{ kafka_zookeeper_user }}"
       password="{{ kafka_zookeeper_password }}";
};
