# {{ ansible_managed }}

[Unit]
Description=Apache Kafka service

[Service]
Type=simple
User=kafka
LimitNOFILE={{ kafka_limit_number_of_open_files }}
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_conf_dir }}/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh
Restart=on-abnormal
EnvironmentFile={{ kafka_conf_dir }}/kafka.env

[Install]
WantedBy=multi-user.target
