{% for environment_variable in (kafka_environment_variables | dict2items) %}
{{ environment_variable.key }}="{{ environment_variable.value }}"
{% endfor %}
{% if kafka_heap_opts is defined %}
KAFKA_HEAP_OPTS="{{ kafka_heap_opts }}"
{% endif %}
LOG_DIR="{{ kafka_log_dir }}"
{% if kafka_jmx_enabled %}
{% if kafka_jmx_username is defined and kafka_jmx_password is defined %}
KAFKA_JMX_OPTS="-Dcom.sun.management.jmxremote.ssl=false \
-Djava.rmi.server.hostname={{ kafka_jmx_host }} \
-Dcom.sun.management.jmxremote.port={{ kafka_jmx_port }} \
-Dcom.sun.management.jmxremote.rmi.port={{ kafka_jmx_rmi_port }} \
-Dcom.sun.management.jmxremote.host={{ kafka_jmx_host }} \
-Dcom.sun.management.jmxremote.password.toHashes=false \
-Dcom.sun.management.jmxremote.password.file={{ kafka_conf_dir }}/jmxremote.password \
-Dcom.sun.management.jmxremote.access.file={{ kafka_conf_dir }}/jmxremote.access"
{% else %}
KAFKA_JMX_OPTS="-Dcom.sun.management.jmxremote.ssl=false \
-Dcom.sun.management.jmxremote.authenticate=false \
-Djava.rmi.server.hostname={{ kafka_jmx_host }} \
-Dcom.sun.management.jmxremote.port={{ kafka_jmx_port }} \
-Dcom.sun.management.jmxremote.rmi.port={{ kafka_jmx_rmi_port }} \
-Dcom.sun.management.jmxremote.host={{ kafka_jmx_host }}"
{% endif %}
{% endif %}
